@font-face {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Fontawesome';
    src: url('Fontawesome/webfonts/fa-solid-900.ttf');
}

body {
    font-family: 'Raleway'
}

.map-logo,.bill-logo,.family-logo,.heart-logo,.dog-logo,.info-logo,.bluestar,.greystar,.graph-logo{font-family:'Fontawesome'}

.greystar {
    color: #F2F2F2;
}

.bill-logo,
.family-logo,
.heart-logo,
.dog-logo,
.info-logo,
.inscription,
.bluestar {
    color: #0065FC
}

.bill-logo,
.family-logo,
.heart-logo,
.dog-logo {
    background-color: #DEEBFF;
}

.map-logo {
    background-color: #F2F2F2;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.2em
}

li h1 {
    font-size: 1em
}

li h2 {
    font-size: 0.8em
}

.inscription {
    font-weight: bold
}

article,
aside,
footer {
    background-color: #F2F2F2;
}

a {
    text-decoration: none;
    color: black
}

li {
    list-style: none
}

header p a {
    color: white;
    background-color: #0065FC;
}

article ul,aside ul{
    background-color: white
}
.filtres li{border: 2px #F2F2F2 solid;}
article, aside,.activites{border-radius: 10px}
article li, aside li{border: 3px white solid;border-radius: 10px}
.info-logo{border:2px #F2F2F2 solid;border-radius: 50%}