@font-face {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Fontawesome';
    src: url('Fontawesome/webfonts/fa-solid-900.ttf');
}

body {
    font-family: 'Raleway'
}

nav,header,
.activites{
    margin-left: 50px;
    margin-right: 50px;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
    margin-left: 0px;
    margin-right: 0px;
}

.map-logo,
.bill-logo,
.family-logo,
.heart-logo,
.dog-logo,
.info-logo,
.bluestar,
.greystar,
.graph-logo {
    font-family: 'Fontawesome'
}

.greystar {
    color: #F2F2F2;
}

.bill-logo,
.family-logo,
.heart-logo,
.dog-logo,
.info-logo,
.inscription,
.bluestar {
    color: #0065FC
}

.bill-logo,
.family-logo,
.heart-logo,
.dog-logo {
    background-color: #DEEBFF;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.2em
}

li h1 {
    font-size: 1em
}

li h2 {
    font-size: 0.8em
}

header h2 {
    font-weight: normal
}

.inscription {
    font-weight: bold
}

.hebdefaut,
aside,
footer {
    background-color: #F2F2F2;
}

a {
    text-decoration: none;
    color: black
}

li{
    list-style: none;
    padding: 0
}

.hebdefaut,
aside {
    border-radius: 20px
}

.info-logo {
    border: 2px #F2F2F2 solid;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
    margin: 10px;
    text-align: center;
    justify-content: center
}

img {
    max-height: 100%;
    max-width: 100%
}

#logoreservia {
    width: 105px;
}



.hebergements {
    display: flex;flex-wrap:wrap;justify-content: space-between; margin-right: 50px;margin-left: 50px;
}

.entete {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.entete ul {
    display: flex;
}

.entete li {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.activites {
    min-width: 95%;
}

.activites li {
    width: 20.8%;
    min-width: 300px;
}

.activites ul {
    display: flex;
    flex-wrap: wrap;flex-direction: column;max-height: 550px; 
}

.activites ul h2{box-shadow: 0px 2px 2px #F2F2F2;border-radius: 0px 0px 25px 25px; padding-bottom: 15px;padding-left: 25px}

.activites img {
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}
.footer{display: flex;flex-wrap: wrap}
footer div{display: flex;flex-direction: column;margin-right: 200px}

footer li{margin-top: 15px}
footer ul{padding-left: 0px}

.entete li a:hover {
    color: #0065FC;
    border-top: #0065FC solid;
    padding-top: 30px
}


form {
    display: flex;
    max-width: 420px;
    height: 40px;
    align-items: center;
}

.rechercher {
    color: white;
    background-color: #0065FC;
    border-style: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 0px 20px 20px 0px;

}

#citylocation {
    font-weight: bold;
    border-bottom: #F2F2F2 solid 2px;
    border-top: #F2F2F2 solid 2px;
    border-right: none;
    border-left: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px
}

.map-logo {
    background-color: #F2F2F2;
    padding-left: 15px;
    padding-top: 12px;
    padding-right: 15px;
    padding-bottom: 18px;
    border-left: #F2F2F2 solid 2px;
    border-top: #F2F2F2 solid 2px;
    border-radius: 20px 0px 0px 20px
}

.filtres li {
    text-align: center;
    justify-content: center;
}

.textfiltre {
    border-right: 2px #F2F2F2 solid;
    border-top: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    border-radius: 0px 40px 40px 0px;
    padding: 13px;
    padding-left: 30px;
}
.filtresflex{display: flex;align-items: center}
.filtres ul {
    display: flex;flex-wrap: wrap;
    align-items: center;
}

.filtres li,
.filtres h1 {
    padding: 15px;
    margin-right: 20px;
    font-weight: bold;
    padding-left: 0px
}

.bill-logo,
.family-logo,
.heart-logo,
.dog-logo {
    padding: 15px;
    border-radius: 50%;
}

.hebdefaut img {border-radius: 25px 25px 0px 0px;min-height: 120px
    
}

.hebdefaut {
    min-width: 61.1%;padding:20px;max-width: 900px;
}

.hebdefaut ul{
    display: flex;flex-wrap: wrap;justify-content: space-between;
}

.hebdefaut li {
    max-width: 18%;
    min-width: 240px;padding-top: 0px;background-color: white;border: white solid 5px;
    border-radius:25px 25px 25px 25px; padding:0px;margin-bottom: 20px;
}
.hebdefaut h1,hebdefaut h2, hebdefaut p{padding:0px;margin: 0px;}
aside li{background-color: white;border-radius:25px 25px 25px 25px;
    margin-bottom: 15px;border: white solid 3px;}
aside img{border-radius: 25px 0px 0px 25px;border-left:white solid 3px;border-top: white solid 3px}
.textpop{}
aside li a{display: flex;}
aside ul{display: flex;flex-direction: column;justify-content: space-between}
aside{display: flex;flex-direction: column;}

aside{min-width: 29%;padding-right: 20px;}

.titrepop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
}

.imagepop {
   
    min-width: 130px
}